/* Основные стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

header {
    background-color: #3498db;
    color: white;
    padding: 20px;
    border-radius: 5px;
}